In [9]:
%run LE_in_4x_train.py

iter=0,cost=1598.974609375
iter=50,cost=0.16379782557487488
iter=100,cost=0.0677201896905899
iter=150,cost=0.028059352189302444
iter=200,cost=0.011626148596405983
iter=250,cost=0.00481721106916666
iter=300,cost=0.0019959036726504564
iter=350,cost=0.0008269920945167542
iter=400,cost=0.00034266215516254306
iter=450,cost=0.00014197462587617338

In [33]:
%run LE_in_4x_train.py

请输入一个正整数给group赋值：30
iter=0,cost=2033.0203857421875
iter=50,cost=33.96736526489258
iter=100,cost=0.6244333982467651
iter=150,cost=0.027385147288441658
iter=200,cost=0.006328038405627012
iter=250,cost=0.0021549658849835396
iter=300,cost=0.000751588842831552
iter=350,cost=0.0002624564222060144
iter=400,cost=9.166085510514677e-05
iter=450,cost=3.2008156267693266e-05

In [20]:
19outputs

array([[4, 0, 3, 3],
       [3, 1, 3, 2],
       [4, 0, 0, 4],
       [2, 1, 0, 1],
       [1, 0, 1, 4],
       [3, 0, 3, 0],
       [2, 3, 0, 1],
       [3, 3, 3, 0],
       [1, 1, 1, 0],
       [2, 4, 3, 3],
       [2, 4, 2, 0],
       [0, 4, 0, 4],
       [1, 4, 1, 2],
       [2, 0, 1, 1],
       [1, 1, 3, 3],
       [2, 3, 0, 3],
       [4, 1, 2, 4],
       [3, 4, 4, 4],
       [3, 4, 4, 4],
       [0, 4, 3, 2]])

In [34]:
test = np.array([[[9],[5],[2],[10]]]).astype('float32')
test

array([[[ 9.],
        [ 5.],
        [ 2.],
        [10.]]], dtype=float32)