# Python入门1 - Python基础关键字和语法

## 基本操作  
https://aistudio.baidu.com/aistudio/projectDetail/98651

### 基础类型  
CSY 2020-2-5

In [1]:
# This is a one line comment
print('Hello World!')

Hello World!

In [2]:
# Strings can be enclosed by ',", or """
print("Hello World!")

Hello World!

In [3]:
# \ is used as a escape character. 
# There are many special escape sequences
# Notable are: \t (tab)
#             \n (new line)

In [4]:
print("The \n makes a new line")

The
 makes a new line

In [5]:
print("The \t is a tab")

The 	 is a tab

In [6]:
print('I\'m going to the movies')

I'm going to the movies

In [7]:
# Using \ to not accidently close the string by having a closing "
print("This is a string enclosed by \"\" not '' ")

This is a string enclosed by "" not ''

In [9]:
# Creating a variable
# Variables are used to store information to be referenced 
# and manipulated in a computer program.

firstVariable = 'heLLo worLd'
print(firstVariable)

heLLo worLd

### 字符串操作

In [10]:
# go over ? mark after if you are not sure what method does. 
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title()) # 单词首字母大写，其余字母均为小写。

hello world
HELLO WORLD
Hello World

In [11]:
# To look up what each method does
firstVariable.lower?

In [12]:
# Can also use help
help(firstVariable.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [13]:
help

Type help() for interactive help, or help(object) for help about object.

In [14]:
firstVariable.split(' ') # 以指定的字符串为分割符,将firstVariable 分割成若干子串

['heLLo', 'worLd']

In [15]:
a=firstVariable.split(' ')  # a 是一个 list
a

['heLLo', 'worLd']

In [16]:
' '.join(a)

'heLLo worLd'

In [17]:
a.join('!!!')

AttributeError: 'list' object has no attribute 'join'

In [18]:
print("0" + "1")

01

In [19]:
"0" * 3

'000'

In [20]:
'123'*3

'123123123'

### 基础数学

CSY 2020-2-6  
有四种不同的数字类型：普通整数，长整数，浮点数和复数。另外，布尔值是普通整数的子类型。

In [21]:
# Addition, add two int together
1+1

2

In [22]:
# if one of the operands is a float, the result is a float.
130-2.0

128.0

In [23]:
130-2

128

In [24]:
# integer division
130/2

65.0

In [25]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [26]:
4**4

256

In [27]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
9%3 #求余

0

In [28]:
8%3

2

### if语句

<table>
    <thead>
        <tr>
            <th>比较操作符</th>
            <th>功能</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&lt;</td>
            <td>小于</td>
        </tr>
        <tr>
            <td>&lt;=</td>
            <td>小于或等于</td>
        </tr>
        <tr>
            <td>&gt;=</td>
            <td>大于或等于</td>
        </tr>
        <tr>
            <td>==</td>
            <td>等于</td>
        </tr>
        <tr>
            <td>!=</td>
            <td>不等于</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>逻辑操作符</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>and</td>
            <td>如果两个操作数均为True，则condition变为True.</td>
        </tr>
        <tr>
            <td>or</td>
            <td>如果两个操作数中的任何一个为True，则condition变为True.</td>
        </tr>
        <tr>
            <td>not</td>
            <td>用于反转逻辑（不是False变为True，而不是True变为False.</td>
        </tr>
    </tbody>
</table>

In [29]:
# or will only evaluate to False if both are False
if False or False:
    print('Nothing will print out')

In [30]:
num = 10
not num < 20

False

### else 语句

必须在if或elif语句之后。最多可以有一个其他声明。仅当上面的所有“if”和“elif”语句都为False时才会执行

In [31]:
num = 1
if num > 3 :
    print("Hi")

In [32]:
"""We will execute what is inside the else statement
because num is not greater than 3
"""
num = 1
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

number is not greater than 3

In [33]:
"""We will execute what is inside the if statement because num > 4"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

Task  

    将num分配给整数值。  
    如果整数是偶数，写一个if else组合将打印“你的整数是偶数”。否则，打印“你的整数是奇数”。  

提示：任何可以精确地除以2的整数都是偶数（例如：2,4,6）。任何不能精确地除以2的整数都是奇数（例如：1,3,5）。使用模运算符（％），它将数字左边的余数除以右边的数字。

In [34]:
num = 3
if num % 2 == 0:
    print("Your integer is even")
else: 
    print("Your integer is odd")

Your integer is odd

### elif 语句

CSY 2020-2-7

In [1]:
num = 21
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

num = 21

In [2]:
my_num = 5
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is odd

In [3]:
# You can have mulitple elif statements. 
# Remember only the first True statement has its block of code executed. 

dice_value = 1
if dice_value == 1:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 2:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 3:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 4:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 5:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 6:
    print('You rolled a {}. Great job!'.format(dice_value))
else:
    print('None of the conditions above (if elif) were evaluated as True')

You rolled a 1. Great job!

Task

    将num分配给整数值。
    编写一系列if，elif，else语句，打印您指定的num。但是对三的倍数要打印“Fizz”而不是数字, 五的倍数要打印“Buzz”。对于三和五共同的倍数则打印“FizzBuzz”

我的解决方案

In [9]:
num=30
if num%3==0 or num%5==0:
    if num%3==0 and num%5==0:
        print('FizzBuzz')
    elif num%3==0:
        print('Fizz')
    else:                   # elif num%5==0:
        print('Buzz')
else:
    print(num)

FizzBuzz

老师给出的方法1

In [10]:
num = 15
if num % 3 == 0 and num % 5 == 0:
    print('FizzBuzz')
elif num % 3 == 0:
    print('Fizz')
elif num % 5 == 0:
    print('Buzz')
else:
    print(str(num))

FizzBuzz

老师给出的方法2

In [13]:
num = 11
string = ""
if num % 3 == 0:
    string = string + "Fizz"
if num % 5 == 0:
    string = string + "Buzz"
if num % 5 != 0 and num % 3 != 0:
    string = string + str(num)
print(string)

11

### 列表

列表后面要加上方括号 [ ]

In [14]:
# Defining a list
z = [3, 7, 4, 2]

访问列表里面的值

In [15]:
# The first element of a list is at index 0
z[0]

3

In [16]:
z[2]

4

In [17]:
# Access Last Element of List 
z[-2]

4

In [18]:
z[-1]

2

In [21]:
# Defining a list
z = [3, 7, 4, 2]

切分列表

In [22]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [23]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [24]:
# index 1 to end of list
z[1:]

[7, 4, 2]

取列表的最大值, 最小值, 长度, 以及总和

In [1]:
# Defining a list
z = [3, 7, 4, 2]

In [2]:
print(min(z), max(z), len(z), sum(z)) # 列表中的最小值、最大值，长度，求和

2 7 4 16

对列表中对象出现次数进行统计

In [3]:
# 对列表中对象出现次数进行统计
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

返回指定元素的索引

In [4]:
# 返回列表第一个指针
random_list.index(4)

0

In [13]:
# you can specify where you start your search
random_list.index(4, 2) # 从第二个元素指定的位置（含）开始搜索第一个元素指定的内容

3

In [14]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

对列表进行排序

In [19]:
x = [3, 7, 2, 11, 8, 10, 4,3]

In [20]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 3, 4, 7, 8, 10, 11]

In [22]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True) # reverse 倒置
print(x)

[11, 10, 8, 7, 4, 3, 3, 2]

In [23]:
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [24]:
# Sorting and Altering original list
# A-Z
y.sort()
print(y)

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [25]:
# Sorting and Altering original list
# Z-A
y.sort(reverse = True)
print(y)

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [26]:
# sorting list WITHOUT altering original list 
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [27]:
# notice y is unchanged
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [1]:
x = [3, 7, 2, 11, 8, 10, 4,3]

在列表结尾添加一个对象

In [2]:
# 在列表结尾添加一个对象
x.append(3)
print(x)

[3, 7, 2, 11, 8, 10, 4, 3, 3]

删除列表中一个对象

In [3]:
# 删除列表中一个对象、
x.remove(10)
print(x)

[3, 7, 2, 11, 8, 4, 3, 3]

In [4]:
x.remove(3)
print(x)

[7, 2, 11, 8, 4, 3, 3]

删除列表中指定位置的对象

In [5]:
# List before you remove an item
print(x)

[7, 2, 11, 8, 4, 3, 3]

In [6]:
# Remove item at the index
# this function will also return the item you removed from the list
# Default is the last index
x.pop(3)

8

In [7]:
x

[7, 2, 11, 4, 3, 3]

合并列表

In [8]:
x.extend([4, 5])
x

[7, 2, 11, 4, 3, 3, 4, 5]

In [9]:
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [10]:
# lists can be diverse, each element in the list can be of a different type.
# lists are really list of pointers, and these pointers can 
# point to anything.

# Concatenating Lists
print('x+y=',x+y)

x+y= [7, 2, 11, 4, 3, 3, 4, 5, 'Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

在列表指定位置前插入对象

In [11]:
x

[7, 2, 11, 4, 3, 3, 4, 5]

In [12]:
x.insert(4, [4, 5])
x

[7, 2, 11, 4, [4, 5], 3, 3, 4, 5]